* {
  box-sizing: border-box;
}

.SFblue {
  /* color: #006fd2; */
  color: #3c3737;
}

.padding-10 {
  padding: 10px;
}
:root {
  --mainBackgroundColor: #e7d8d1;
  --secondaryBackgroundColor: #7a7777;
  --secondaryColor: #bc8f8f;
  --textColor: rgb(52, 47, 54);
  --mainFont: "Raleway", sans-serif !important ;
  --boxShadow1: 0 2px 5px 0 rgba(199, 188, 188, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --borderRadius1: 5px;
  --gradient1: linear-gradient(to right, #d18989, #d9bfbf, #f6efef);
  --gradient-moz: -moz-linear-gradient(to right, #d18989, #d9bfbf, #f6efef);
  --gradient-webkit: -webkit-linear-gradient(
    to right,
    #d18989,
    #d9bfbf,
    #f6efef
  );
  --gradientLeft-webkit: -webkit-linear-gradient(
    to left,
    #d18989,
    #d9bfbf,
    #f6efef
  );
  --gradientLeft-moz: -moz-linear-gradient(to left, #d18989, #d9bfbf, #f6efef);
  --gradientLeft: linear-gradient(to left, #d18989, #d9bfbf, #f6efef);
  --hrColor: #6c4040;
  --iconColor2: #e3cfcf;
  --borderGradientRight: linear-gradient(to right, #d18989, #7a7777);
  --borderGradientRightMoz: -moz-linear-gradient(to right, #d18989, #7a7777);
  --borderGradientRightWebkit: -webkit-linear-gradient(
    to right,
    #d18989,
    #7a7777
  );

  --borderGradientLeft: linear-gradient(to left, #d18989, #7a7777);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  height: 100%;
  line-height: 1.8;
  color: var(--textColor);
  background-color: var(--mainBackgroundColor);
  margin: 0;
  font-family: "Raleway", sans-serif !important ;
  font-size: 15px;
  line-height: 1.5;
}

/* ------navbar related styling -------*/
.nav-top {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

#navbar {
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: var(--textColor);
  color: #c0b5c0;
  opacity: 0.9;
  border-radius: 0px;
  font-size: 1.2em;
}
#navbar:before,
#navbar:after {
  content: "";
  display: table;
  clear: both;
}

#navLink {
  float: right !important;
}

#navLink:hover,
.navbar-item:hover {
  background-color: var(--iconColor2);
  color: var(--textColor);
  text-decoration: none;
}

#home {
  position: relative;
}

#home:hover {
  display: block;
}

#navFixed {
  background-color: var(--textColor) !important;
  color: #c0b5c0 !important;
  display: block;
  width: 100%;
  text-align: center;
}

/* -------buttons------ */
#resumeBtn,
#loadMoreBtn,
#toTopBtn,
#sendBtn {
  padding: 7px;
  border-radius: 3px;
  font-size: 16px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 3px var(--iconColor2);
  border: 1px solid var(--secondaryColor);
  background: var(--secondaryBackgroundColor);
  background: var(--gradientLeft-moz);
  background: var(--gradientLeft-webkit);

  background: var(--gradientLeft);
}

#toTopBtn {
  box-shadow: 0px 0px 2px 1px #9b8d8d;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

#resumeBtn:hover,
#loadMoreBtn:hover,
#resumeBtn:hover,
#sendBtn:hover {
  background-color: var(--secondaryColor);
  border-color: var(--secondaryColor);
  color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: var(--gradient-webkit);
  background: var(--gradient-moz);
  background: var(--gradient1);
}

.padding-10 {
  padding: 10px;
}

#toTopBtn:hover {
  box-shadow: 0px 0px 7px 0px var(--iconColor2);
  /* padding:20px; */
  text-decoration: none;
  color: black;
  background-color: var(--textColor);
}

/* -----body related------- */

p {
  font-size: 1.2em;
  margin-top: 25px;
}

/* -----picture related-------- */

/* Create a Parallax Effect */

.bgImg-1,
.bgImg-2,
.bgImg-3,
.bgImg-4 {
  /* background-attachment: fixed!important; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Landing bg image */
.bgImg-1 {
  background-image: url("lighthouse-compressor.png");
  height: 100%;
}

/* Portfolio bg img */
.bgImg-2 {
  background-image: url("womanWork-opt.jpg");
  height: 100%;
}

/* Contact bg img */
.bgImg-3 {
  background-image: url("contact2.jpg");
  height: 100%;
}

.bgImg-4 {
  background-image: url("cert.jpg");
  height: 100%;
}

/* -----Text in bg img 1------ */

#bgTextLeft {
  position: absolute;
  top: 30%;
  left: 3%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%);
  white-space: nowrap;
  text-shadow: 2px 2px 2px var(--secondaryColor);
}

#bgTextRight {
  position: absolute;
  top: 60%;
  right: 3%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  white-space: nowrap;
}

#rightSpan {
  padding: 12px 24px !important;
  font-size: 12px !important;
}

#nameSpan {
  font-size: 45px;
  padding: 10px;
  opacity: 0.8;
}

#jobSpan {
  font-size: 30px;
  padding: 10px;
  opacity: 0.8;
}

/* -----in the sections----- */

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.section {
  padding: 0.01em 16px;
}

.section:after,
.section:before {
  float: left;
  width: 100%;
}

.wide {
  letter-spacing: 4px;
}

.center {
  text-align: center !important;
}
.margin-right {
  margin-right: 16px !important;
}
#portfolio,
#contact,
#certification {
  position: relative;
  opacity: 0.55;
}
.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.relative {
  position: relative;
}

.sectionSpan {
  font-size: 60px;
  color: white;
  text-shadow: 2px 3px 0 black;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a #git:hover,
a #linkedIn:hover {
  width: 150px;
  height: 150px;
}

.githubInText {
  color: var(--textColor);
  font-weight: bold;
  border-bottom: 1px solid black;
}

.githubInText:hover {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

hr {
  color: var(--hrColor);
}

.icons {
  color: var(--iconColor2);
  opacity: 0.6;
  font-size: 2em;
  padding: 8px;
}
.icons:hover {
  font-size: 3em;
}
.iconsTop {
  font-size: 4em;
  padding: 20px;
  opacity: 0.8;
  float: right;
  color: var(--textColor);
}
.iconsTop:hover {
  font-size: 6em;
}

/* -----about section------ */

#myPhoto {
  opacity: 0.7;
  margin-bottom: 30px;
  border: 8px solid transparent;
  border-image: var(--borderGradientRightMoz);
  border-image: var(--borderGradientRightWebkit);
  border-image: var(--borderGradientRight);
  border-image-slice: 1;
  transition: padding 300ms ease-out;
  transition-delay: 150ms;
}
#aboutRow {
  padding: 12px 24px !important;
}

#myPhoto:hover {
  opacity: 1;
  border: 2px solid var(--secondaryColor);
}

.sectionMargin {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

#experience,
#addressDetails {
  font-size: 18px;
  margin-bottom: 20px;
}

#experience {
  padding-bottom: 16px;
}

.language {
  margin: 10px !important;
}

.skillBar {
  padding: 0 20px 0 20px;
  box-shadow: 0px 0px 7px 0px gray;
  background-color: var(--iconColor2);
}
.skillIcons {
  font-size: 1em;
  padding: 5px;
}
.fa-laptop,
.fa-calculator {
  padding: 0 35px 0 35px;
  font-size: 20px;
}

/* -----portfolio section---- */

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.pfPic {
  justify-content: center;
  width: 90%;
  left: -5%;
  top: -5%;
  margin: 20px 20px 20px 50px;
  padding: 5px;
  height: 240px;
  /* background-color: #f2f0f2; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #d18989, #7a7777);
  border-image-slice: 1;
  transition: padding 300ms ease-out;
  transition-delay: 150ms;
}

.pfPic:hover {
  border: 3px solid transparent;
  border-image: var(--borderGradientLeft);
  border-image-slice: 1;
  padding: 0;
}

.codeLink {
  color: black !important;
  text-decoration: none;
}

.banner {
  position: absolute;
  background-color: var(--mainBackgroundColor);
  color: black;
  bottom: 0;
  height: 35%;
  top: 35%;
  left: 0%;
  right: 0%;
  padding: 10px;
  opacity: 0.95;
  margin: 15px;
  font-size: 0.8em;
  border-top: 3px ridge transparent;
  border-bottom: 3px ridge transparent;
  border-image: linear-gradient(to right, #d18989, #7a7777);
  border-image-slice: 1;
  transition: opacity 150ms ease-out;
}

.cornerIcon {
  position: absolute;
  top: 10%;
  left: 7%;
  font-size: 2em;
  padding: 20px;
  color: black;
  z-index: 4;
}

.cornerIcon:hover {
  color: black;
}

.display-container {
  position: relative;
  height: 300px;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--mainBackgroundColor);
}

/* ----contact section----- */

#contactPanel {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

textarea,
input {
  overflow: visible;
  display: block;
  width: 100% !important;
  margin-bottom: 10px !important;
  border-radius: 5px;
  border: 1px solid var(--iconColor2);
  padding: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

label {
  margin-bottom: 0 !important;
}

.badge {
  color: var(--iconColor2) !important;
  font-size: 0.9em !important;
}

/* -----footer---- */

footer {
  background-color: var(--textColor);
  padding-top: 64px;
  padding-bottom: 64px;
  opacity: 0.6;
}
footer:hover {
  opacity: 1;
}

#copyright {
  color: white;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgImg-1,
  .bgImg-2,
  .bgImg-3,
  .bgImg-4 {
    background-attachment: scroll;
    min-height: 800px;
  }
}
@media (min-width: 1024px) {
  .bgImg-1,
  .bgImg-2,
  .bgImg-3,
  .bgImg-4 {
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 900px) and (min-width: 700px) {
  #nameSpan {
    font-size: 26px;
  }
  #jobSpan {
    font-size: 20px;
  }
  footer {
    opacity: 1;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .hide-medium {
    display: none !important;
  }
}

@media (min-width: 993px) {
  .hide-large {
    display: none !important;
  }
  .hide {
    display: none !important;
  }
}

@media (max-width: 700px) and (min-width: 400px) {
  .pfPic {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .pfPic {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .hide-small {
    display: none !important;
  }

  #bgTextLeft {
    top: 30%;
    left: 0%;
  }
  #nameSpan {
    font-size: 24px;
  }
  #jobSpan {
    font-size: 18px;
  }

  .iconsTop {
    font-size: 3em;
  }

  #git,
  #linkedIn {
    width: 60px;
    height: 60px;
    padding: 5px;
  }

  .iconsTop {
    padding: 5px;
  }

  .fa-laptop {
    padding: 0 5px 0 5px;
  }
  #myPhoto {
    border: 4px solid transparent;
    border-image: linear-gradient(to right, #d18989, #7a7777);
    border-image-slice: 1;
    transition: padding 300ms ease-out;
    transition-delay: 150ms;
  }
}

.display-container {
  position: relative;
  height: 300px;
}

.display-topleft {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--mainBackgroundColor);
}

@media only screen and (min-device-width: 375px) and (max-device-width: 414px) {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 700px) {
  .banner {
    height: 55%;
    bottom: 0;
    /* right: 1%; */
  }
}

@media (max-width: 700px) and (min-width: 400px) {
  .pfPic {
    height: 250px;
  }
  .sectionSpan {
    font-size: 2.8em;
  }
}
@media (max-width: 400px) {
  .pfPic {
    height: 200px;
    margin: 20px 20px 20px 35px;
  }
  .sectionSpan {
    font-size: 2em;
  }
}

/* .navbar-item:last-child{
  margin-right: 5px
} */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.animate-top {
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.show {
  display: block !important;
}
